.modal-header
  %button.close{'data-dismiss' => 'modal'}
    %i.fa.fa-times
  %h3
    %span.text-warning STING!
    You aren't allowed!
.modal-body
  %p Sorry, you aren't allowed in here. You need to try logging in. Otherwise, get an admin to help you.
.modal-footer
  %button.btn.btn-default{'data-dismiss' => 'modal'} Close