!!!
%html
  %head
    %title DramaTech
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #modal.modal.fade
      .modal-dialog
        #modal-loading.modal-content
          .modal-header
            %h4
              Loading...
              %i.fa.fa-circle-o-notch.fa-spin.pull-right
          .modal-body
            %p Hold on a sec, we're sending Buzz to fetch your data from the honeycomb...
          .modal-footer
        #modal-content.modal-content
    .container-fluid
      = yield